{block content}
        <section id="services">
            <div class="container">
                <h2>OUR SERVICES</h2>
                {control search}
                {control seznam}
                
                </div>
            </div>
            <div class="container">
       
            </div>
        </section>
{/block}
